@import '../../styles/default.scss';
.message-container {
	color: $fontColor;

	.message-list {
		ul {
			li {
				display: flex;
				padding: 20px;
				box-shadow: 1px 1px 11px $shadowDarkColor;
				p {
					margin-bottom: 0;
				}
				a.rich-ctn {
					display: flex;
					margin-bottom: .5rem;
				}
				a.rich-ctn:hover {
					text-decoration: underline;
				}
				
				.rich-left {
					width: 570px;
					.resp-subject {
						color: #989898;
						a {
							color: #9cb6dc;
						}
						a:hover {
							text-decoration: underline;
							color: $fontColor;
						}
					}
				}
				.rich-right {
					margin-left: 10px;
					.time {
						font-size: 12px;
						color: #ccc;
					}
				}
				&:not(:last-child) {
					margin-bottom: 10px;
				}
			}
		}
	}
}
